sudo: required
services:
  - docker

env:
  DOCKER_COMPOSE_VERSION: 1.5.2

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

script:
  - docker-compose build
  - docker-compose up -d
  - docker-compose ps
  - docker-compose ps elk | grep Up
  - docker-compose ps filebeat | grep Up
  - docker-compose ps squidguard | grep Up
  - docker-compose run filebeat sleep 10
  #- docker-compose run filebeat grep "GET /startupTest1.html" /var/log/squid3/access.log
  - docker-compose run filebeat curl --retry 10 --retry-delay 5 -v -s -L -o /dev/null http://squidguard/wpat.dat
  - docker-compose run filebeat curl --retry 10 --retry-delay 5 -v -s -L -o /dev/null -x http://squidguard:3128 http://www.muenchhausen.de

notifications:
  email:
    - derk@muenchhausen.de
